.wrapper {
    /* padding-top: 50px; */
    background: rgb(1, 11, 17);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 10%;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}
